<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Signup</title>
  </head>
  <body>
    <%- include("./partials/nav") %>

    <section class="container mt-3">
      <form action="" method="post">
        <!-- <form action="/user/signup" method="post"> -->
        <input type="text" name="fullName" id="" placeholder="Enter Name" />
        <input type="text" name="email" id="" placeholder="Enter email" />
        <input type="text" name="password" id="" placeholder="password" />
        <button type="submit">Signup</button>
      </form>
    </section>

    <%- include("./partials/script") %>
  </body>
</html>
